/* General styles */
body {
  display:flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid;
  paddin:20 px;
  
}

/* Input container  */
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#nota {
  padding: 10px;
  font-size: 1.2em;
  margin-right: 10px;
}

#add-button {
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
}

/* Output container  */
.output-container {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  height: 200px;
  width: 500px;
}

#notas-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

#notas-list li {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#calculate-button {
  align-self: flex-start;
  padding: 10px 20px;
  font-size: 1.2em;
  margin-top: 20px;
}

#result {
  font-size: 1.5em;
  margin-top: 10px;
}


ul{
overflow-y: scroll;
}

